<a [routerLink]="['']">Return</a>

<p>MSTID: {{ player.MSTID }}</p>
<p>Match: {{ player.Match }}</p>
<p>First: {{ player.First }}</p>
<p>Last: {{ player.Last }}</p>
<p>Nationality: {{ player.Nationality }}</p>
<p>SOD: {{ player.SOD }}</p>
<p>Score: {{ player.Score }}</p>
<p>Today: {{ player.Today }}</p>
<p>Hole1Strokes: {{ player.Hole1Strokes }}</p>
<p>Hole1STP: {{ player.Hole1STP }}</p>
<p>Hole2Strokes: {{ player.Hole2Strokes }}</p>
<p>Hole2STP: {{ player.Hole2STP }}</p>
<p>Hole3Strokes: {{ player.Hole3Strokes }}</p>
<p>Hole3STP: {{ player.Hole3STP }}</p>
<p>Hole4Strokes: {{ player.Hole4Strokes }}</p>
<p>Hole4STP: {{ player.Hole4STP }}</p>
<p>Hole5Strokes: {{ player.Hole5Strokes }}</p>
<p>Hole5STP: {{ player.Hole5STP }}</p>
<p>Hole6Strokes: {{ player.Hole6Strokes }}</p>
<p>Hole6STP: {{ player.Hole6STP }}</p>
<p>Hole7Strokes: {{ player.Hole7Strokes }}</p>
<p>Hole7STP: {{ player.Hole7STP }}</p>
<p>Hole8Strokes: {{ player.Hole8Strokes }}</p>
<p>Hole8STP: {{ player.Hole8STP }}</p>
<p>Hole9Strokes: {{ player.Hole9Strokes }}</p>
<p>Hole9STP: {{ player.Hole9STP }}</p>
<p>OutStrokes: {{ player.OutStrokes }}</p>
<p>OutSTP: {{ player.OutSTP }}</p>
<p>Hole10Strokes: {{ player.Hole10Strokes }}</p>
<p>Hole10STP: {{ player.Hole10STP }}</p>
<p>Hole11Strokes: {{ player.Hole11Strokes }}</p>
<p>Hole11STP: {{ player.Hole11STP }}</p>
<p>Hole12Strokes: {{ player.Hole12Strokes }}</p>
<p>Hole12STP: {{ player.Hole12STP }}</p>
<p>Hole13Strokes: {{ player.Hole13Strokes }}</p>
<p>Hole13STP: {{ player.Hole13STP }}</p>
<p>Hole14Strokes: {{ player.Hole14Strokes }}</p>
<p>Hole14STP: {{ player.Hole14STP }}</p>
<p>Hole15Strokes: {{ player.Hole15Strokes }}</p>
<p>Hole15STP: {{ player.Hole15STP }}</p>
<p>Hole16Strokes: {{ player.Hole16Strokes }}</p>
<p>Hole16STP: {{ player.Hole16STP }}</p>
<p>Hole17Strokes: {{ player.Hole17Strokes }}</p>
<p>Hole17STP: {{ player.Hole17STP }}</p>
<p>Hole18Strokes: {{ player.Hole18Strokes }}</p>
<p>Hole18STP: {{ player.Hole18STP }}</p>
<p>InStrokes: {{ player.InStrokes }}</p>
<p>InSTP: {{ player.InSTP }}</p>
<p>TotalStrokes: {{ player.TotalStrokes }}</p>
<p>TotalSTP: {{ player.TotalSTP }}</p>
<p>tournamentID: {{ player.tournamentID }}</p>
<p>round: {{ player.round }}</p>
<p>orderInMatch: {{ player.orderInMatch }}</p>
<p>lastUpdated: {{ player.lastUpdated }}</p>
<p>status: {{ player.status }}</p>
<p>leaderboardID: {{ player.leaderboardID }}</p>
<p>teeStart: {{ player.teeStart }}</p>
<p>teeTime: {{ player.teeTime }}</p>
<p>holesPlayed: {{ player.holesPlayed }}</p>
<p>course: {{ player.course }}</p>
<p>matchID: {{ player.matchID }}</p>
<p>Amature: {{ player.Amature }}</p>
<p>isTeam: {{ player.isTeam }}</p>
<p>CalculatedRankInteger: {{ player.CalculatedRankInteger }}</p>
<p>position: {{ player.position }}</p>
<p>UniquePosition: {{ player.UniquePosition }}</p>
<p>TVName: {{ player.TVName }}</p>
<p>Eastern: {{ player.Eastern }}</p>
<p>Handicap: {{ player.Handicap }}</p>
<p>SortPriority: {{ player.SortPriority }}</p>
<p>Sex: {{ player.Sex }}</p>
