<table border="1">
    <tr>
      <th>TV Name</th>
      <th>Nationality</th>
      <th>Sex</th>
      <th>Round</th>
      <th>Score</th>
      <th>Today</th>
      <th>Position</th>
      <th>Out Strokes</th>
      <th>Out STP</th>
      <th>In Strokes</th>
      <th>In STP</th>
      <th>Total Strokes</th>
      <th>Total STP</th>
      <th>Match</th>
      <th>Order In Match</th>
      <th>Last Updated</th>
      <th>Tee Start</th>
      <th>Tee Time</th>
      <th>Holes Played</th>
      <th>Course</th>
      <th>Rank</th>
      <th>Handicap</th>
    </tr>
    <tr *ngFor="let player of players">
      <td>{{ player.TVName }}</td>
      <td>{{ player.Nationality }}</td>
      <td>{{ player.Sex }}</td>
      <td>{{ player.round }}</td>
      <td>{{ player.Score }}</td>
      <td>{{ player.Today }}</td>
      <td>{{ player.position }}</td>
      <td>{{ player.OutStrokes }}</td>
      <td>{{ player.OutSTP }}</td>
      <td>{{ player.InStrokes }}</td>
      <td>{{ player.InSTP }}</td>
      <td>{{ player.TotalStrokes }}</td>
      <td>{{ player.TotalSTP }}</td>
      <td>{{ player.Match }}</td>
      <td>{{ player.orderInMatch }}</td>
      <td>{{ player.lastUpdated }}</td>
      <td>{{ player.teeStart }}</td>
      <td>{{ player.teeTime }}</td>
      <td>{{ player.holesPlayed }}</td>
      <td>{{ player.course }}</td>
      <td>{{ player.CalculatedRankInteger }}</td>
      <td>{{ player.Handicap }}</td>
    </tr>
  </table>
  