<th scope="row">{{ player.MSTID }}</th>
<td>
  <a [routerLink]="['/player', player.MSTID]">
    <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/countries/500/{{ player.Nationality }}.png&w=40&h=40" alt="{{ player.Nationality }}">{{ player.TVName }}
  </a>
</td>
<td>{{ player.Sex }}</td>
<td>{{ player.round }}</td>
<td>{{ player.Score }}</td>
<td>{{ player.Today }}</td>
<td>{{ player.position }}</td>
<td>{{ player.OutStrokes }}</td>
<td>{{ player.OutSTP }}</td>
<td>{{ player.InStrokes }}</td>
<td>{{ player.InSTP }}</td>
<td>{{ player.TotalStrokes }}</td>
<td>{{ player.TotalSTP }}</td>
<td>{{ player.Match }}</td>
<td>{{ player.orderInMatch }}</td>
<td>{{ player.lastUpdated }}</td>
<td>{{ player.teeStart }}</td>
<td>{{ player.teeTime }}</td>
<td>{{ player.holesPlayed }}</td>
<td>{{ player.course }}</td>
<td>{{ player.CalculatedRankInteger }}</td>
<td>{{ player.Handicap }}</td>
